// Body
//
// Settings for the `<body>` element.

$body-bg:                   $white;
$body-color:                $blue;

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

article {
	overflow: hidden;
}

@include media-breakpoint-up(sm) {
		body {
			.container-fluid {
				padding: 0 30px;
			}
		}
	}

@include media-breakpoint-up(md) {
	body {
		.container-fluid {
			padding: 0 60px;
		}
	}
}