.mod-toegang {
	background-image: url('../img/background_toegang.svg');
	background-size: cover;
	background-position: center center;
	.h3 {
		font-family: $font-family-base;
	}
	.card {
		border-radius: 30px;
		border: 0;
		text-align: center;
		.card-body {
			padding: 30px 15px;
		}
	}
	.icon {
		background: #fff;
		width: 135px;
		height: 135px;
		border-radius: 400px;
		position: relative;
		margin-bottom: 20px;
		img {
			position: absolute;
			width: 120px;
			height: auto;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}
	.circle {
		display: block;
		background: $orange;
		border-radius: 300px;
		height: 220px;
		width: 220px;
		padding: 10px;
		text-align: center;
		color: #fff;
		text-decoration: none;
		span {
			text-decoration: underline;
		}
		h3 {
			font-family: 'Bruum FY';
			font-weight: 900;
		}
		&:hover {
			transform: scale(1.1);
		}
	}
}



@include media-breakpoint-up(lg) {
	.mod-toegang {
		.card {
			border-radius: 30px;
			.card-body {
				padding: 30px;
			}
		}
		.circle {
			position: absolute;
			top: 150px;
			right: 60px;
		}
		
	}
}

@include media-breakpoint-up(xl) {
	.mod-toegang {
		.circle {
			top: 230px;
			right: 120px;
		}
		.icon {
			width: 180px;
			height: 180px;
			img {
				width: 160px;
			}
		}
	}
}