.mod-voorwie {
	background-image: url('../img/background_white.svg');
	background-size: cover;
	background-position: center center;
	img {
		width: auto;
		height: 200px;
	}
}

@include media-breakpoint-up(md) {
	.mod-voorwie {
		img {
			height: 240px;
		}
	}
}


@include media-breakpoint-up(xxl) {
	.mod-voorwie {
		img {
			height: 300px;
		}
	}
}