[data-lity] {
	&:hover {
		cursor: pointer;
	}	
}
.btn {
	font-weight: 600;
	line-height: 48px;
	color: #fff;
	transition: .4s $ease;
	padding: 0 10px 0 30px;
	position: relative;
	margin-right: 15px;
	border-radius: 12px;
	padding: 0 10px 0 30px;
	font-size: 18px;
	&:hover {
		opacity: 1;
		transform: scale(1.05);
	}
	&:after {
		content: "";
		position: absolute;
		left: calc(100% - 10px);
		top: 0;
		height: 48px;
		width: 42px;
		background-image: url(../img/button_white.svg);
		background-size: 42px;
		background-repeat: no-repeat;
	}
	&.btn-light {
		background: #fff;
		color: $blue;
		&:after {
			background-image: url(../img/button_white.svg);
		}
		&:hover, &:focus, &:target {
			background: #fff;
			color: $dark;
		}
	}
	&.btn-dark {
		background: $dark;
		color: #fff;
		&:hover, &:focus, &:target {
			background: $orange;
		}
	}
	&.btn-primary {
		background: $orange;
		color: #fff;
		&:after {
			background-image: url(../img/button_orange.svg);
		}
		&:hover, &:focus, &:target {
			background: $orange;
			color: #fff;
		}
	}
}

.btn-link {
	text-decoration: none;
	color: $dark;
	font-weight: 600;
	font-size: 18px;
	transition: 0.4s $ease;
	&:after {
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		font-family: "Font Awesome 5";
		font-weight: 700;
		content: "\f061";
		font-size: 16px;
		transition: 0.4s $ease;
		margin-left: 6px;
		
	}
	&:hover {
		text-decoration: none;
		color: $orange;
		&:after {
			margin-left: 12px;
			color: $orange;
		}
	}
}

@include media-breakpoint-up(xl) {
	.btn {
		line-height: 64px;
		padding: 0 10px 0 25px;
		font-size: 22px;
		margin-right: 60px;
		&:after {
			left: calc(100% - 12px);
			height: 64px;
			width: 65px;
			background-size: 57px;
		}
	}
}