.waves {	
	position: relative;
	&:before {
		position: absolute;
		bottom: -1px;
		left: 0;
		right: 0;
		height: 20px;
		background-size: 75px;
		background-repeat: repeat-x;
		background-position: center bottom;
		content: '';
		z-index: 1;
	}
	&.waves-white {
		&:before {
			background-image: url(../img/wave_white.svg);
		}
	}
	&.waves-grey {
		&:before {
			background-image: url(../img/wave_grey.svg);
		}
	}
	&.waves-white-inverted {
		&:before {
			background-image: url(../img/bolletje_white.svg);
			bottom: -19px;
		}
	}
	&.waves-blue {
		&:before {
			background-image: url(../img/wave_blue.svg);
		}
	}
	&.waves-green-top {
		&:before {
			background-image: url(../img/wave_green.svg);
			top: -19px;
			background-position: right bottom;
		}
	}
	&.waves-grey-top {
		&:before {
			background-image: url(../img/wave_grey.svg);
			top: -19px;
			background-position: right bottom;
		}
	}
	&.waves-blue-top {
		&:before {
			background-image: url(../img/wave_blue.svg);
			top: -19px;
			background-position: left bottom;
		}
	}
}