<footer id="footer" class="section bg-blue text-white" data-scroll-section>
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-md-auto">
                <img src="{{ theme.link }}/assets/img/korral_logo_full.svg" width="155" height="68">
            </div>
            <div class="col-md d-flex align-items-end">
                <h4 class="text-green mb-0"> toegang samen regelen </h4>
            </div>
        </div>
    </div>
</footer>